.chairman-img{
    padding: 30px;
   height: max-content;
    border-radius: 6px;
    box-shadow: 1px 3px 16px 16px #d0deba;
}
.chairman-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.chairman-message{
    font-size: 1.5vw;
    font-family: cursive;
    color: #37660f;
    width: 70%;
    margin: 0 auto;
}
.chairman-photo{
    width: auto;
    height: 60vh;
    text-align: center;
}