
a{
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.header_logo_img{
    width: 100px;
    transition: all 0.3s ease-in-out;
}
.header_logo_name{
    font-size: 30px;
    width: 250px;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
}
.inlineHeader   {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
   
}
.leftLogo{
    width: 380px;
    display: flex;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px;
    margin-left: 32px;
}