
a{
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.header_logo_img{
    width: 100px;
    transition: all 0.3s ease-in-out;
}
.header_logo_name{
    font-size: 30px;
    width: 250px;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
}

.inlineHeader   {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #fefff5;
    height: 15vh;
    box-shadow: 0px -20px 20px 0px #507d0d47 inset;
   
}
.leftLogo{
    width: 380px;
    display: flex;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px;
    margin-left: 32px;
}
.header-tab-name{
    box-shadow: 0px 7px 6px 0px #507d0d47 inset;
    background-color: #fefff5;
    border-color: transparent;
    padding: 5px 30px;
}
.dropdownMenu{
    margin: 9px 5px;
    box-shadow: 0px 0px 6px 0px #507d0d47 inset;
    background-color: #c2cd6100;
    padding: 10px 30px;
    font-weight: bolder;
    font-family: cursive;
}